body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

img{
  width: 150px;
  margin: 1em;
  cursor: pointer;
}

.buttons{
  display: flex;
  justify-content: center;
  margin: 3em;
}

.buttons button{
  margin: 1em;
}

.replay{
  margin: 0 auto;
  padding: 1em;
  width: 50%;
}

.replay button{
  width: 200px;
  padding: 1em 1em;
  background-color: orange;
  color: aliceblue;
  border: none;
  transition: 0.5s;
}

.replay button:hover, .replay button:focus{
  background-color: rgb(255, 200, 97);
  border: none;
}

.ai-card{
  pointer-events: none;
}

.block{
  width: 100%;
  display: inline-block;
}

.block-hover{
  transition: 0.5s;
}

.block-hover:hover{
  box-shadow: 2px 4px 8px 2px grey;
}

p{
  font-size: 2em;
  text-transform: uppercase;
}

span{
  color: red;
}

/*===============================================*/
.hidden{
  display: none;
}

.show{
  display: block;
}

.disabled{
  pointer-events: none;
  opacity: 0.3;
}

.opac{
  opacity: 1;
}
